<!DOCTYPE html>
<html>
<head>
  <title>WebProject2</title>
  <p>NEW TEXT</p>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

</head>
<body>
I, Alex, have edited this file. Mwa ha ha ha.
<%= yield %>

</body>
</html>
